In [1]:
#Declare a string and store it in a variable. 

my_string = "Hello, World!"
print(my_string)

Hello, World!

In [2]:
#Check the type and print the id of the same.

# Declare a variable
my_variable = "Hello, World!"

# Check the type of the variable and print it
variable_type = type(my_variable)
print("Type of my_variable:", variable_type)

# Print the id of the variable
variable_id = id(my_variable)
print("ID of my_variable:", variable_id)

Type of my_variable: <class 'str'>
ID of my_variable: 1977377271984

In [ ]:
#Which are valid/invalid string

'This is Python class'
Valid: This is a single-quoted string.
    
"This is Python class"
Valid: This is a double-quoted string.

'''This is Python class'''
Valid: This is a triple-quoted string.

"""This is Python class"""
Valid: This is a triple-quoted string.

'This is Python's class'
Invalid: This string is single-quoted, but it contains a single quote within it, which can lead to a syntax error. To make it valid, you can use double quotes around the string.

"Learnbay provides "Java", "Python" classes"
Invalid: This string is double-quoted, but it contains double quotes within it, which can lead to a syntax error. To make it valid, you can use single quotes around the entire string or escape the inner double quotes.

"Learnbay provides 'Java', 'Python' classes"
Valid: This is a double-quoted string containing single quotes inside.

"This is Python's class"
Valid: This is a double-quoted string.

"""Learnbay provides "Java", "Python" classes"""
Valid: This is a triple-quoted string.

'''Learnbay provides "Java", "Python" classes'''
Valid: This is a triple-quoted string.

'''Learnbay provides"Java", "Python" classes'''
Valid: This is a triple-quoted string with line breaks.

'This is Python class'
Invalid: This string is single-quoted and contains line breaks, which can lead to a syntax error. To make it valid, you can use triple-quotes for multiline strings.

In [3]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

# Print the length of my_str
print("The length of my_str is", len(my_str))

# Check if the id of my_str and my_str1 is the same
print("id of my_str and my_str1 is same? -", id(my_str) == id(my_str1))

# Print the type of my_str
print("Type of my_str is:", type(my_str).__name__)

The length of my_str is 66
id of my_str and my_str1 is same? - False
Type of my_str is: str

In [4]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# Output the first character using positive indexing
print("The first character in my_str is:", my_str[0])

# Output the first character using len() function
print("The first character in my_str is:", my_str[len(my_str) - len(my_str)])

# Output the character at index 10 using positive indexing
print("The character at index 10 in my_str is:", my_str[10])

# Output the last character using negative indexing
print("The last character in my_str is:", my_str[-1])

# Output the last character using len() function
print("The last character in my_str is:", my_str[len(my_str) - 1])

# Output the character at index 8 using positive indexing
print("The character in my_str is:", my_str[8])

The first character in my_str is: A
The first character in my_str is: A
The character at index 10 in my_str is:
The last character in my_str is: h
The last character in my_str is: h
The character in my_str is:

In [5]:

my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# Output the first character using positive indexing
print("The first character in my_str is:", my_str[0])

# Output the first character using len() function
print("The first character in my_str is:", my_str[len(my_str) - len(my_str)])

# Output the character at index 10 using positive indexing
print("The character at index 10 in my_str is:", my_str[10])

# Output the last character using negative indexing
print("The last character in my_str is:", my_str[-1])

# Output the last character using len() function
print("The last character in my_str is:", my_str[len(my_str) - 1])

# Output the character at index 8 using positive indexing
print("The character in my_str is:", my_str[8])

The first character in my_str is: A
The first character in my_str is: A
The character at index 10 in my_str is:
The last character in my_str is: h
The last character in my_str is: h
The character in my_str is:

In [6]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

# Concatenate two strings
result = str1 + ' ' + str2
print("Output is:", result)

# Attempt to concatenate with an integer (will result in an error)
try:
    result = str1 + 5
except TypeError as e:
    print("Error:", e)

# Attempt to concatenate with a float (will result in an error)
try:
    result = str1 + 3.14
except TypeError as e:
    print("Error:", e)

# Repeat a string multiple times
result = str1 * 3
print("Output is:", result)

# Attempt to multiply by a float (will result in an error)
try:
    result = str1 * 2.5
except TypeError as e:
    print("Error:", e)

# Attempt to multiply by a string (will result in an error)
try:
    result = str1 * '2'
except TypeError as e:
    print("Error:", e)

Output is: Learnbay Python
Error: can only concatenate str (not "int") to str
Error: can only concatenate str (not "float") to str
Output is: LearnbayLearnbayLearnbay
Error: can't multiply sequence by non-int of type 'float'
Error: can't multiply sequence by non-int of type 'str'

In [9]:

# find the output

str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

# Check if str1 and str2 have the same identity
print("Are str1 and str2 identical?", str1 is str2)

# Check if str1 and str3 have the same identity
print("Are str1 and str3 identical?", str1 is str3)

# Check if str4 and str3 have the same identity
print("Are str4 and str3 identical?", str4 is str3)

# Check if 'P' is a member of str1
print("Is 'P' in str1?", 'P' in str1)

# Check if '$' is a member of str3
print("Is '$' in str3?", '$' in str3)

# Check if 'N' is a member of str3
print("Is 'N' in str3?", 'N' in str3)

Are str1 and str2 identical? True
Are str1 and str3 identical? False
Are str4 and str3 identical? False
Is 'P' in str1? True
Is '$' in str3? True
Is 'N' in str3? False

In [10]:
#Complete the below code
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

str1 = 'This is Python class'

# Replace 'Python' with 'Java' and create a new string
str2 = str1.replace('Python', 'Java')

# Print the modified string
print(str2)

This is Java class

In [11]:

str1 = 'A'
str2 = 'A'

# Compare str1 and str2 using comparison operator (greater than)
print("Comparison operator (greater than):", str1 > str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 == str2)  # True

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 != str2)  # False

# Compare str1 and str2 using comparison operator (less than)
print("Comparison operator (less than):", str1 < str2)  # False

Comparison operator (greater than): False
Equality operator: True
Equality operator: False
Comparison operator (less than): False

In [12]:
str1 = 'A'
str2 = 'a'

# Compare str1 and str2 using comparison operator (greater than)
print("Comparison operator (greater than):", str1 > str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 == str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 != str2)  # True

# Compare str1 and str2 using comparison operator (less than)
print("Comparison operator (less than):", str1 < str2)  # True

Comparison operator (greater than): False
Equality operator: False
Equality operator: True
Comparison operator (less than): True

In [13]:
str1 = 'A'
str2 = '65'

# Attempt to compare str1 and str2 using comparison operator (will result in an error)
try:
    result = str1 >= str2
except TypeError as e:
    print("Error:", e)

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 == str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 != str2)  # True

Equality operator: False
Equality operator: True

In [14]:
str1 = 'Python'
str2 = 'Python'

# Compare str1 and str2 using comparison operator (greater than)
print("Comparison operator (greater than):", str1 > str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 == str2)  # True

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 != str2)  # False

# Compare str1 and str2 using comparison operator (less than)
print("Comparison operator (less than):", str1 < str2)  # False

Comparison operator (greater than): False
Equality operator: True
Equality operator: False
Comparison operator (less than): False

In [15]:
str1 = 'Python'
str2 = 'python'

# Compare str1 and str2 using comparison operator (greater than)
print("Comparison operator (greater than):", str1 > str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 == str2)  # False

# Compare str1 and str2 using equality operator
print("Equality operator:", str1 != str2)  # True

# Compare str1 and str2 using comparison operator (less than)
print("Comparison operator (less than):", str1 < str2)  # True

Comparison operator (greater than): False
Equality operator: False
Equality operator: True
Comparison operator (less than): True

In [16]:
a = 'Python'
b = ''

# Apply logical AND operator
result1 = a and b  # Returns '' because both strings are considered "truthy," and the result is the second operand.

# Apply logical OR operator
result2 = a or b  # Returns 'Python' because the first string is "truthy," and the result is the first operand.

# Apply logical NOT operator
result3 = not a  # Returns False because 'Python' is considered "truthy," and the NOT operator negates it.

# Apply logical NOT operator
result4 = not b  # Returns True because an empty string is considered "falsy," and the NOT operator negates it.

# Apply logical AND operator
result5 = a and a  # Returns 'Python' because both operands are "truthy," and the result is the second operand.

# Print the results
print("Result of a and b:", result1)
print("Result of a or b:", result2)
print("Result of not a:", result3)
print("Result of not b:", result4)
print("Result of a and a:", result5)

Result of a and b:
Result of a or b: Python
Result of not a: False
Result of not b: True
Result of a and a: Python

In [17]:
a = ''
b = ''

# Apply logical AND operator
result1 = a and b  # Returns '' because both strings are considered "falsy," and the result is the first operand.

# Apply logical OR operator
result2 = a or b  # Returns '' because both strings are considered "falsy," and the result is the second operand.

# Apply logical NOT operator
result3 = not a  # Returns True because an empty string is considered "falsy," and the NOT operator negates it.

# Apply logical NOT operator
result4 = not b  # Returns True because an empty string is considered "falsy," and the NOT operator negates it.

# Print the results
print("Result of a and b:", result1)
print("Result of a or b:", result2)
print("Result of not a:", result3)
print("Result of not b:", result4)

Result of a and b:
Result of a or b:
Result of not a: True
Result of not b: True

In [18]:
a = 'Python'
b = 'learnbay'

# Apply logical AND operator
result1 = a and b  # Returns 'learnbay' because both strings are considered "truthy," and the result is the second operand.

# Apply logical OR operator
result2 = a or b  # Returns 'Python' because the first string is "truthy," and the result is the first operand.

# Apply logical NOT operator
result3 = not a  # Returns False because 'Python' is considered "truthy," and the NOT operator negates it.

# Apply logical NOT operator
result4 = not b  # Returns False because 'learnbay' is considered "truthy," and the NOT operator negates it.

# Print the results
print("Result of a and b:", result1)
print("Result of a or b:", result2)
print("Result of not a:", result3)
print("Result of not b:", result4)

Result of a and b: learnbay
Result of a or b: Python
Result of not a: False
Result of not b: False

In [20]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# Count the total occurrences of 't' using count() method
count_t = my_str.count('t')
print("Total count of 't' in the string:", count_t)

# Find the index of '8' using find() method
index_8_find = my_str.find('8')
print("Index of '8' using find():", index_8_find)

# Find the index of '8' using index() method
try:
    index_8_index = my_str.index('8')
    print("Index of '8' using index():", index_8_index)
except ValueError as e:
    print("Index of '8' using index():", e)

# The output of the following code:
print(my_str.find('the'))  # Returns -1 because 'the' is not found in the string.
try:
    print(my_str.index('the'))  # Raises ValueError because 'the' is not found in the string.
except ValueError as e:
    print("Index of 'the' using index():", e)

# Find the index of 't' within a specific range (9 to 15)
index_t_range = my_str.find('t', 9, 15)
print("Index of 't' between positions 9 and 15:", index_t_range)

# Find the rightmost index of 'u' using rfind()
rightmost_index_u = my_str.rfind('u')
print("Rightmost index of 'u' using rfind():", rightmost_index_u)

# Find the rightmost index of 'u' using rindex()
rightmost_index_u_index = my_str.rindex('u')
print("Rightmost index of 'u' using rindex():", rightmost_index_u_index)

Total count of 't' in the string: 7
Index of '8' using find(): 9
Index of '8' using index(): 9
-1
Index of 'the' using index(): substring not found
Index of 't' between positions 9 and 15: 11
Rightmost index of 'u' using rfind(): 63
Rightmost index of 'u' using rindex(): 63

In [21]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'


# Input a string from the user
user_input = input("Enter a string: ")

# Check if the string starts and ends with spaces
if user_input.startswith(' ') and user_input.endswith(' '):
    result = user_input.strip()  # Apply strip() method
elif user_input.startswith(' '):
    result = user_input.lstrip()  # Apply lstrip() method
elif user_input.endswith(' '):
    result = user_input.rstrip()  # Apply rstrip() method
else:
    result = user_input  # No spaces to remove

# Print the result
print("Output:", result)

Enter a string: amol
Output: amol

In [22]:

my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# Convert all alphabets to upper case
upper_case_str = my_str.upper()
print("Uppercase:", upper_case_str)

# Convert all alphabets to lower case
lower_case_str = my_str.lower()
print("Lowercase:", lower_case_str)

# Swap the cases of all alphabets
swap_case_str = my_str.swapcase()
print("Swapcase:", swap_case_str)

Uppercase: ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
Lowercase: although 8 that way may not be obvious at first unless you're dutch
Swapcase: aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [ ]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [ ]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

In [ ]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)


#Write the code to get below output
#O/P 1:- **python (using rjust method)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'